* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background-image: url(../images/dust_scratches.png);
    background-color: #eee;
    padding-bottom: 100px;
}

.outer-container {
    overflow:auto;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

.logo {
    background-color: #4aaaa5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    padding: 17px 25px;
}

.nav > a {
    text-decoration: none;
    color: inherit;
    margin: 15px;
}

.main {
    margin-bottom: 50px;
}

.main-content {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0 25px 25px 25px;
    overflow: auto;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 36px;
    border-bottom: 2px solid #eee;
    padding: 16px 0;
    margin-bottom: 40px;

}

.main-content > img {
    margin-right: 25px;
}

p {
    line-height: 2em;
    margin-bottom: 20px;
}

.input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    outline: none;
    transition: border-color .3s linear;
}

textarea.input {
    height: 250px;
}

.input:focus {
    border-color: #54d3d3;
}

button {
    border: none;
    background-color: #4aaaa5;
    padding: 10px 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    transition: background-color .3s linear;
}

button:hover {
    background-color: #4dc4c4;
}

div.img-container {
    position: relative;
    float: left;
    margin: 0 30px 50px 0;
    transition: opacity .5s ease;
}

div.img-container:hover {
    opacity: .6;
}

div.img-banner {
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 15px;
    width: 100%;

}


footer {
    clear: both;
    padding: 50px 0 10px 0;
    background-color: #666;
    border-top: 7px solid #4aaaa5;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}